*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Vazirmatn',sans-serif;

}


body{

min-height:100vh;

background:
linear-gradient(
135deg,
#0f172a,
#312e81
);

color:white;

padding:20px;

}



.container{

max-width:1000px;

margin:auto;

}



.back{

display:inline-block;

background:rgba(255,255,255,.1);

padding:12px 20px;

border-radius:15px;

color:white;

text-decoration:none;

margin-bottom:25px;

backdrop-filter:blur(10px);

}



h1{

margin-bottom:30px;

text-align:center;

}
.cart-item{


display:flex;

justify-content:space-between;

align-items:center;


background:
rgba(255,255,255,.08);


backdrop-filter:blur(15px);


padding:20px;


border-radius:20px;


margin-bottom:15px;


}



.product-info h3{

margin-bottom:10px;

}



.price{

color:#60a5fa;

font-weight:bold;

}



.quantity{

display:flex;

align-items:center;

gap:10px;

}



.quantity button{


width:35px;

height:35px;


border:none;

border-radius:10px;


background:#3b82f6;

color:white;


font-size:20px;

cursor:pointer;


}
.delete{


background:#ef4444;

color:white;

border:none;

padding:10px;

border-radius:10px;

cursor:pointer;

}




.checkout-box{


margin-top:30px;


background:
rgba(255,255,255,.08);


backdrop-filter:blur(15px);


padding:25px;


border-radius:20px;


text-align:center;


}



.pay-btn{


margin-top:20px;


width:100%;


padding:15px;


border:none;


border-radius:15px;


background:#22c55e;


color:white;


font-size:17px;


cursor:pointer;


}




@media(max-width:700px){


.cart-item{

flex-direction:column;

gap:15px;

text-align:center;

}


}