*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Vazirmatn',sans-serif;

}



body{


min-height:100vh;


display:flex;

justify-content:center;

align-items:center;



background:

linear-gradient(
135deg,
#0f172a,
#312e81
);


color:white;

padding:20px;


}



.glass{


background:

rgba(255,255,255,.08);



backdrop-filter:blur(15px);


border:

1px solid rgba(255,255,255,.15);



box-shadow:

0 8px 32px rgba(0,0,0,.3);


}



.login-box{


width:100%;

max-width:420px;


padding:35px;


border-radius:25px;


text-align:center;


}
.logo{


font-size:22px;

font-weight:bold;

margin-bottom:30px;


}



h1{


margin-bottom:15px;


}



p{


opacity:.8;

margin-bottom:25px;


}



.input-box input,
.otp-box input{


width:100%;


padding:15px;


border:none;


outline:none;


border-radius:15px;


font-size:16px;


text-align:center;


}
button{


width:100%;


margin-top:20px;


padding:15px;


border:none;


border-radius:15px;


background:#3b82f6;


color:white;


font-size:16px;


cursor:pointer;


transition:.3s;


}



button:hover{


transform:translateY(-3px);


}



.otp-box{


display:none;


margin-top:20px;


}



.login-box a{


display:block;


margin-top:25px;


color:#93c5fd;


text-decoration:none;


}



@media(max-width:480px){


.login-box{


padding:25px;


}


.logo{

font-size:18px;

}

}